    * {
        padding: 0;
        margin: 0;
    }
    
    .cont1 {
        background-color: aliceblue;
        height: 80px;
        width: 170px;
        padding: 10px;
        position: absolute;
        left: 10%;
        top: 10%;
    }
    
    .line1 {
        background-color: aliceblue;
        width: 10px;
        height: 150px;
        position: absolute;
        top: 23%;
        left: 15%;
    }
    
    .line2 {
        background-color: red;
        width: 200px;
        height: 10px;
        position: absolute;
        top: 43%;
        left: 15%;
    }
    
    .cont2 {
        background-color: aliceblue;
        height: 80px;
        width: 150px;
        padding: 10px;
        position: absolute;
        left: 28%;
        top: 37%;
        padding: 10px;
    }